/* SELECTORS: Selectors are
     -> strings 
     -> placed at the beginning of a CSS statement
     -> followed by style property-value pairs, listed in curly brackets
     -> indicate the group of elements or individual element to which the specified styles should be applied
*/

html { height: 100%; }

body { background-color: LightSeaGreen; margin: 1em; padding: 0; height: calc(100% - 2em);}

* { font-family: arial, helvetica, san-serif; }
    
pre { font-family: courier new, courier, mono; }

hr { border: 0.5px solid black;}


/* SELECTORS: If a selector matches a tag keyword, then it selects all the elements of the type denoted by the keyword. 
              In the example below, all elements of type 'ul' (i.e. all elements with tag 'ul') are selected.*/
ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
details ul, ul details ul { list-style-type: "\25BA  "; }
details ul ul  { list-style-type: "\25BB  "; }
details ul ul ul { list-style-type: "\25B8  "; }
details ul ul ul ul { list-style-type: "\25B9  "; }

li { margin: 0.5em 0; max-width: 100%; }

dt { font-weight: bold; margin-top: 0.5em}

/* SELECTORS: If a selector starts with a '.' it selects the group of elements in the class named with the selector string excluding the leading dot.
   	      (An element belongs to a class if one of the space-separated strings in its 'class' attribute value matches the class name. 
	      E.g. element <div class="abc def"></div> belongs to class 'abc' and also belongs to class 'def'.)
              In the example below, all the elements of class 'toc_grp' are selected.  */
.toc_grp { list-style-type: none; padding: 0; }
.toc_grp>li>p { background-color: coral; box-sizing: border-box; width: 30em; max-width: 100%; padding: 0.5em; border: 0.5px solid black; color: black; font-weight: bold; }
.toc_grp>li>article { border: 1px solid black; background-color: coral; padding: 0.5em; box-sizing: border-box; width: 60em; max-width: 100%}
article:after, header:after, .tutorial-panel:after { content: ""; display: table; clear: both;}


details {background-color: tomato; border: 1px solid black; padding: 0.5em; margin: 1em 0; max-width: 90%}

canvas {border: 1px solid black; }



.toc th, .toc td { padding: 0.2em; }
.toc a { display: block; text-decoration: none; color: black; font-weight: bold; border: 0.5px dotted black; margin: 0.2em 0; }
.toc { border-collapse: separate; border-spacing: 0.3em; }
.weeknum { width: 3em; }
.toc  { background-color: gray; }
.toc td.tut, .toc td.lec, .toc td.lab, .toc td.com, .toc td.ca { border: 0.1px dotted darkgray; }  
.toc td.tut:not(:empty) { background: dodgerblue; }
.toc td.lec:not(:empty){ background: indianred; }
.toc td.lab:not(:empty) { background: darkgoldenrod; }
.toc td.com { max-width: 22em; }
.toc td.ca { text-align: left; }
.toc td.banner { letter-spacing: 1em; text-align: center; }


/* flex and float demo boxes */
.fla, .fra, .fbi { border: 1px solid purple; padding: 2em; margin: 1em; width: 3em; height: 1em; text-align: center }
.fbc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow is a shorthand property for flex-direction and flex wrap e.g.:
       flex-flow: row nowrap; */
    /* horizontal alignment */
    justify-content: center;
    /* vertical alignment */
    align-items: center;
    /* alignment of flex lines */
    align-content: space-between;
}

.tutorial-fb {
   display: flex; 
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
 }

.tutorial-item {
    width: 40em;
    max-width: 100%;
}


/* special classes */
.fw { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;}
.underline { text-decoration: underline; }
.red { color: red; }
.maroon { color: maroon; }
.smalltext { font-size: small; }
.fla { float: left ; clear: left }
.fra { float: right; clear: right }
.newline { clear: left; clear: right }
.topref { padding-right: 2em }

figure img { width: 100%; }
figure { box-sizing: border-box; max-width: 100%; margin-left: 0; margin-right: 0;}
figure.cmdline { width: 40em; }
figure.one { width: 10em; }
figure.onenh { width: 15em; }
figure.two { width: 20em; }
figure.twonh { width: 25em; }
figure.three { width: 30em; }
figure.threenh { width: 35em; }
figure.four { width: 40em; }
figure.fournh { width: 45em; }
figure.five { width: 50em; }
figure.fivenh { width: 55em; }
figure.section_symbol { float: right; width: 10em; }
figcaption { font-style: italic; }


/* SELECTORS: If a selector starts with a '#' it selects the element that has its 'id' attribute set to the same string, excluding the '#'. 
   	      This kind of selector can select only one element, as ids should be unique.
	      (The id for an element is set with the 'id' attribute. E.g. the element <div id="xyz"></div> has the id 'xyz'.)
              In the example below, the element with id 'logo' is selected. */ 
#logo { float: right; width: 4em; margin: 1em; max-width: 50%; border: 2px black solid;}
#logotxt { color: maroon; text-align: right; }




#hist { width: 15em } /* history section symbol */
#form-example form input { width: 6em; }
#form-example, #form-example-html {float: left; margin-right: 3em; line-height: 2.5em; font-size: medium; }
.clear { clear: both;}
.fl { float: left; }
.fr { float: right; }
.header-left { float: left; }
.header-right { float: right; }

